/*null css*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap");
* {
  font-family: "Poppins", sans-serif;
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --clr: #f0f0f0;
}

body {
  display: flex;
  min-height: 100vh;
  min-width: 320px;
  background: var(--clr);
  line-height: 1.5;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

input,
button,
textarea {
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: inherit;
  border: none;
  background: none;
  display: block;
}

button,
button:hover,
button:focus {
  outline: none;
  border: none;
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  display: block;
  color: #fff;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
  display: block;
}

img {
  display: block;
  max-width: 100%;
}

/*/null css*/
.col {
  position: relative;
  flex: 1;
  background: #ccc;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.alert {
  position: absolute;
  top: 80px;
  left: 70px;
  box-shadow: 0 0 5px;
  padding: 2px 5px;
  border-radius: 50%;
}

.col h2 {
  padding: 10px;
  color: #fff;
  transition: background 0.3s;
}

.col button {
  background: transparent;
  font-size: 1.5rem;
  color: #fff;
  transition: background 0.3s;
}

.col h2:hover,
.col button:hover {
  background: rgba(0, 0, 0, 0.1);
}