@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap");
* {
  font-family: Poppins;
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --clr: #222327;
}

body {
  display: flex;
  justify-content: center;
  padding-top: 4vw;
  min-height: 100vh;
  min-width: 320px;
  background: var(--clr);
}

aside,
nav,
footer,
header,
section {
  display: block;
}

body {
  line-height: 1.5;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: inherit;
  border: none;
  background: none;
  display: block;
}

button,
button:hover,
button:focus {
  outline: none;
  border: none;
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  display: block;
  color: #fff;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
  display: block;
  padding: 0;
  margin: 0;
}

img {
  vertical-align: top;
}

img {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

/*/null css*/
.navigation {
  position: relative;
  width: 400px;
  height: 70px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.navigation ul {
  display: flex;
  width: 350px;
}
.navigation ul li {
  position: relative;
  list-style: none;
  width: 70px;
  height: 70px;
  z-index: 1;
}
.navigation ul li.active a .icon {
  transform: translateY(-35px);
}
.navigation ul li.active a .text {
  opacity: 1;
  transform: translateY(10px);
}
.navigation ul li a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  font-weight: 500;
}
.navigation ul li a .icon {
  position: relative;
  display: block;
  line-height: 75px;
  font-size: 1.5em;
  text-align: center;
  transition: 0.5s;
  color: var(--clr);
}
.navigation ul li a .text {
  position: absolute;
  color: var(--clr);
  font-weight: 400;
  font-size: 0.75em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  opacity: 0;
  transform: translateY(-20px);
}
.navigation ul li:nth-child(1).active ~ .indicator {
  transform: translateX(0px);
}
.navigation ul li:nth-child(2).active ~ .indicator {
  transform: translateX(70px);
}
.navigation ul li:nth-child(3).active ~ .indicator {
  transform: translateX(140px);
}
.navigation ul li:nth-child(4).active ~ .indicator {
  transform: translateX(210px);
}
.navigation ul li:nth-child(5).active ~ .indicator {
  transform: translateX(280px);
}

.indicator {
  position: absolute;
  top: -50%;
  width: 70px;
  height: 70px;
  background: #29fd52;
  border-radius: 50%;
  border: 6px solid var(--clr);
  transition: 0.5s;
}
.indicator::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -22px;
  width: 20px;
  height: 20px;
  background: transparent;
  border-top-right-radius: 20px;
  box-shadow: 1px -10px 0 0 var(--clr);
}
.indicator::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -22px;
  width: 20px;
  height: 20px;
  background: transparent;
  border-top-left-radius: 20px;
  box-shadow: -1px -10px 0 0 var(--clr);
}/*# sourceMappingURL=style_white-menu.css.map */